#rotating-sphere .text-sphere {
    position: relative;
    top: 28%;
    left: 28%;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rotating-sphere .tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-weight: 300;
    letter-spacing: 0.0625em;
    font-size: 1.3em;
}

#rotating-sphere .tagcloud--item {
    color: var(--Color-Text);
    text-transform: uppercase;
}

#rotating-sphere .tagcloud--item:hover {
    color: var(--Color-Secondary);
}

#rotating-sphere .hide-skills {
    cursor: pointer;
    color: var(--Color-Secondary);
    text-shadow: 2px 2px 5px var(--Color-Secondary);
    position: relative;
    align-items: center;
    top: 20%;
    text-align: center;
}