#customHeader {
  background-color: #6457a6;
  padding: 20px;
}

.dropdown-item {
  background: transparent;
  color: white;
}

.dropdown-menu {
  background: #6457a6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}
