#FAQ {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#FAQ .container {
  padding: 20px 0;
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}


#FAQ .container h2 {
  color: #FFE347;
  margin: 20px auto;
  font-size: 32px;
}

#FAQ .container h3 {
  color: #FFE347;
}

#FAQ .faq-item {
  margin-bottom: 30px;
}

#FAQ .faq-item h3 {
  color: var(color-secondary);
}

#FAQ .faq-item p {
  color: white;
  font-size: 18px;
}