#FAQ {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}


#faq-container {
  margin: 0px auto;
  width: 100%;
  max-width: 1200px;
}

#faq-container h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Color-Secondary);
  padding: 10px;
}

.accordion-item {
  background-color: rgba(0, 0, 0, 0.6);
  transition: background-color 0.3s, color 0.3s;
  margin-top: 5px;
}

.accordion-item:hover {
  color: transparent;
}

.accordion-item .accordion-header button {
  color: #000000;
}

.accordion-item:hover .accordion-header button {
  color: var(--Color-Primary);
}

.accordion-item .accordion-body {
  color: #FFD700;
}

.accordion-button {
  color: #ff0800c1;
}

.accordion-button.expanded {
  color: black;
}