.features-section {
	padding: 80px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.feature-item {
	text-align: center;
	padding: 20px;
	border: 1px solid #dee2e6;
	margin-bottom: 20px;
	border-radius: 8px;
}

h3 {
	color: #6457A6;
}

.background-image-container {
	background-image: url('../../assets/images/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
}

.feature-item p {
	color: white;
}

.feature-item h3 {
	color: white;
	font-weight: bold;
}

.row {
	display: flex;
	justify-content: space-between;
}