.features-section {
	margin: 20px 0px 20px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.feature-item {
	text-align: center;
	padding: 20px;
	border: 1px solid #dee2e6;
	margin-bottom: 30px;
	border-radius: 8px;
	background-color: #6457a6c1;;
}

h3 {
	color: #6457A6;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.container h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 20px auto;
	color: var(--Color-Secondary);
}

.background-image-container {
	background-image: url('../../assets/images/background.png');
	background-size: cover;
	background-position: center;
	background-repeat: repeat;
	background-color: #6457a6c1;
}

.feature-item p {
	color: white;
	font-size: 18px;
}

.feature-item h3 {
	color: #FFE347;
	font-weight: bold;
}

.row {
	display: flex;
	justify-content: space-between;
}

.row .feature-item {
	height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 900px) {
	.features-section .row {
		 flex-direction: column;
		 margin: 2rem;
	}

	.features-section .row .col-md-4 {
		width: 100%;
		margin: 0.2rem;
		justify-content: center;
  }

	.features-section .row .feature-item {
		 padding: 0.5rem;
		 width: 100%;
		 justify-content: center;
	}
}
