.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2em 1em;
    text-align: center;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5em;
    color: var(--Color-Secondary);
}

.card {
    box-shadow: 0 0 2.2em rgba(25, 0, 58, 0.15);
    padding: 3.5em 1em;
    margin: 2em;
    border-radius: 0.6em;
    background: #91a9cb;
    cursor: pointer;
    transition: 0.3s;
}

.card:hover {
    background: linear-gradient(to right, var(--Color-Tertiary), var(--Color-Primary));
}

.card:hover .img-container {
    transform: scale(2);
}

.card .img-container {
    width: 8em;
    height: 8em;
    background: var(--Color-Secondary);
    padding: 0.5em;
    border-radius: 50%;
    border-color: var(--Color-Secondary);
    margin: 0 auto 2em auto;
}

.card img {
    width: 100%;
    border-radius: 50%;
    border-color: var(--Color-Secondary);
}

.card h3 {
    font-weight: 500;
    color: var(--Color-Secondary)
}

.card p {
    font-weight: 300;
    text-transform: capitalize;
    margin: 0.5em 0 2em 0;
    letter-spacing: 2px;
}

.icons {
    width: 50%;
    min-width: 180px;
    margin: auto;
    display: flex;
    justify-content: space-between;



    &:hover {
        anchor-icon {
            color: var(--Color-Secondary)
        }
    }
}

.card a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4em;
    transition: all 0.3s ease;
}

@media screen and (min-width: 768px) {
    section {
        padding: 1em 7em;
    }   
}

@media screen and (min-width: 992px) {
    section {
        padding: 1em;
    }   
    .card {
        padding: 5em 1em;
    }
}