#main-container {
   place-items: center center;
}

#sign-in-form {
   max-width: 600px;
}

#title {
   color: white;
}

.sentra-logo {
   width: 80px;
   height: 80px;
}

.form-control {
   width: fit-content;
}

.form-control:focus {
   z-index: 5;
}

#sign-in-button {
   background-color: #79B4A9;
   border: none
}

.custom-input {
   height: 50px;
   width: 120%;
   margin: auto;
}

.modal-body,
.modal-title {
   color: #000;
}