footer {
	background-color: var(--Color-Primary);
	color: var(--Color-Text);
	padding: 4rem;
	font-size: var(--F-NORMAL);
}

footer ul {
	padding-right: 0rem;
}

.copyright {
	padding-left: 2rem;
	font-size: large;
	font-weight: bold;
	color: var(--Color-Primary);
}

