.form-check {
    display: block;
    margin-bottom: 6px;
  }

  .form-check .form-check-input {
    float: left;
    margin-left: 0.5em;
}

#passwordTitle {
  text-align: center;
  color: var(--Color-Secondary);
}

#passGenBody {
  background-color: var(--Color-Primary);;
}

#passLength {
  color: var(--Color-Text);
}
