.header-container {
	position: relative;
	background-color: var(--Color-Primary); 
	color: var(--Color-Text);
	font-size: var(--F-L);
	padding: 4rem;
}

.nav li {
	margin: 0 20px;
}

.logo-container {
	display: flex;
	align-items: center;
	margin-right: auto; 
}

.logo-container img {
	height: 40px; 
	margin-right: 8px; 
}

.burger-menu {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 999;
	padding: 5px;
}

.burger-menu.open .bar1,
.burger-menu.open .bar2,
.burger-menu.open .bar3 {
	background-color: #fff;
}

.burger-menu.open .bar1 {
	transform: rotate(-45deg) translate(-9px, 6px);
}

.burger-menu.open .bar2 {
	opacity: 0;
}

.burger-menu.open .bar3 {
	transform: rotate(45deg) translate(-8px, -8px);
}


.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--Color-Primary);
	padding: 1rem;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	z-index: 998; /* Ensure dropdown menu appears below burger menu */
}

.dropdown-menu ul {
	list-style-type: none;
	padding: 0;
}

.dropdown-menu ul li {
	margin-bottom: 10px;
}

.dropdown-menu ul li a {
	color: #fff;
	text-decoration: none;
	transition: color 0.3s ease-in-out;
}

.dropdown-menu ul li a:hover {
	color: var(--Color-Text);
}

/* Media query for small screens */
@media (max-width: 768px) {
	.burger-menu {
		 display: block;
	}

	.nav {
		 display: none;
	}

	.nav.open {
		 display: flex;
		 flex-direction: column;
		 position: absolute;
		 top: 100%;
		 left: 0;
		 width: 100%;
		 background-color: var(--Color-Primary);
		 padding: 1rem 0;
	}
}