.header-container {
	position: relative;
	background-color: var(--Color-Primary); 
	color: var(--Color-Text);
	font-size: var(--F-L);
	padding: 4rem;
}

.nav li {
	margin: 0 20px;
}

.logo-container {
	display: flex;
	align-items: center;
	margin-right: auto; 
}

.logo-container img {
	height: 40px; 
	margin-right: 8px; 
}

.burger-menu {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 1rem;
	right: 1rem;
	z-index: 1000;
	padding: 5px;
}



.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	background-color: var(--Color-Primary);
	padding: 1rem;
	z-index: 1000;
}

.dropdown-menu ul {
	list-style-type: none;
	padding: 0;
}

.dropdown-menu ul li {
	margin-bottom: 5px;
}

.dropdown-menu ul li a:hover {
	color: var(--Color-Text);
}

@media (max-width: 768px) {
	.burger-menu {
		 display: block;
	}

	.nav {
		 display: none;
	}

	.nav.open {
		 display: flex;
		 flex-direction: column;
		 position: absolute;
		 top: 0;
		 right: 0;
		 width: 100%;
		 height: 100%;
		 background-color: var(--Color-Primary);
		 padding: 1rem 0;
		 z-index: 10000;
		 overflow-y: auto;
	}
}