header {
	background-color: var(--Color-Primary);
	color: var(--Color-Text);
	font-size: var(--F-XXL);
	padding: 3rem;
}

img {
	border : 1px solid var(--Color-Secondary);
}

span {
	padding-left: 2rem;
	text-shadow: 2px 2px 4px var(--Color-Secondary);
	font-weight: bold;
}

ul {
	padding-right: 7rem;

}

li {
	
}