.col-lg-6  {
display: block;
margin-left: auto;
margin-right: auto;
}

.btn {
}

.lead {
  margin-top: 30px;
}

.background-image-container {
  background-image: url('../../assets/images/background.png');
  background-size: cover;
  background-position: center;
}